<h1>Blocipedia User: <%= current_user.email %></h1>

<!--% @user.wikis.each do |wiki| %>
  %= wiki.title %>, private: %= wiki.private %><br />
% end %>-->

<% @user.wikis.each do |wiki| %>
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">
                <%= link_to (markdown_to_html wiki.title), wiki %>
                <% if wiki.private %>
                   - private
                <% end %>
            </h4>
            <p><%= markdown_to_html wiki.body %></p>
        </div>
    </div>
<% end %>