<h2>Blocipedia User <%= current_user.email %>'s Wiki Entries</h2>
<%= link_to "Create a New Wiki", new_wiki_path, class: 'btn btn-success' %><br /><br />

<% @user.wikis.each do |wiki| %>
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">
                <% if wiki.is_private? %>
                   (private)
                <% end %>
                <%= link_to (markdown_to_html wiki.title), wiki %>
            </h4>
            <p><%= markdown_to_html wiki.body %></p>
        </div>
    </div>
<% end %>