<% if policy(Wiki.new).create? %>
    <h1>All Wikis / <%= link_to "My Wiki Entries", user_path(current_user) %></h1>
    <%= link_to "Create a New Wiki", new_wiki_path, class: 'btn btn-success' %><br /><br />
<% else %>
    <% flash[:notice] = "Sign up as a registered user to view Blocipedia wikis." %>
<% end %>

<% @wikis.each do |w| %>
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">
                <% if w.is_private? %>
                   (private)
                <% end %>
                <%= link_to (markdown_to_html w.title), w %>
            </h4>
            <p><%= markdown_to_html w.body %></p>
        </div>
    </div>
<% end %>