<h1>All Wikis</h1>

<% if policy(Wiki.new).create? %>
    <%= link_to "Create a New Wiki", new_wiki_path, class: 'btn btn-success' %><br /><br /> 
<% end %>

<% @wikis.each do |w| %>
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">
                <%= link_to (markdown_to_html w.title), w %>
                <% if w.is_private? %>
                   - private
                <% end %>
            </h4>
            <p><%= markdown_to_html w.body %></p>
        </div>
    </div>
<% end %>