<h1>All Wikis</h1>
<%= link_to "Create a New Wiki", new_wiki_path %><br /><br /> 

<% @wikis.each do |w| %>
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">
                <%= link_to w.title, w %>
            </h4>
        </div>
    </div>
<% end %>